*.class
*.iml
*.jar
.DS_Store
.cpcache
.idea/
.lein-*
.nrepl-history
.nrepl-port
.shadow-cljs
META-INF
boot-template.iml
checkouts
classes
generated
manatee.iml
node_modules
package-lock.json
pom.xml
pom.xml.asc
project.clj
resources/devcards/js
resources/devcards/css
resources/public/dist
resources/public/js
resources/public/css
target
